body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;
}
  .bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #7e9dde; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #eea5a5; 
    color: #555555;
  }
  .bg-4 { 
    background-color: #f19a9a; 
    color: #fff;
  }
  .bg-5 { 
    background-color: #f1a1f4; 
    color: black;
  }
  .bg-6 { 
    background-color: black; 
    color: white;
  }
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
  }
#about{
    background-color: #1abc9c;
}
q{
    background-color: #4867a5;
}
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    margin-bottom: 1px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: black;
  }
  .navbar-nav  li a:hover {
    color: Blue !important;
  }
#books{
    padding-left: 100px;
    padding-right: 100px;
}